div.section th.head
{  
  background-color: #4472C4;
  border: none;
}

div.section td
{
  border: none;
}

div.section tr.row-odd
{
  background-color: #D9E2F3;  
}

div.section th.head p
{
  color: #FFFFFF;
}
